<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUDANG</title>
    <link rel="stylesheet" th:href="@{/css/_main/style.css}"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script defer th:src="@{/css/_main/main.js}"></script>
    <script
      th:src="@{https://kit.fontawesome.com/9175f8db53.js}"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div class="contanier">
        <div class="row">
          <div class="col-12">
            <div class="navbar">
              <i class="fas fa-wine-bottle"></i>
              <h1>JUDANG</h1>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <section class="title-section">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="title">
                <i class="fas fa-wine-bottle"></i>
                <h1 id="judang"></h1>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
