<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>판매자 - 가게 등록 페이지</title>
    <link
            rel="stylesheet"
            th:href="@{/css/_seller_main/seller_form.css}"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            th:href="@{/css/grid.mim.css}"
    />
    <script
            src="https://kit.fontawesome.com/9175f8db53.js"
            crossorigin="anonymous"
    ></script>
    <script th:src="@{/css/_seller_main/jquery-1.12.3.js}"></script>
    <script th:src="@{/css/_seller_main/seller_main.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3"></script>
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3&submodules=geocoder"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="nav_icon">
                        <i class="fas fa-wine-bottle"></i>
                        <h1>JUDANG</h1>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<main class="main">
    <h1>판매자 가게 등록</h1>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="input-form">
                    <input type="text" id="positionSearch" placeholder="주소 검색창"/> <!-- 사용자 위치검색기능 ( 주소로 검색 ) -->
                    <input type="button" onclick="SearchMyStore()" value="위치 검색버튼"/>
                    <input type="text" id="storeName" placeholder="가게 이름" required/>
                    <input type="number" id="allSeat" placeholder="총 좌석 수" required/>
                    <input type="text" id="category" placeholder="가게 카테고리"/>
                    <button onclick="storeSave()" class="btn">등록</button>
                    <button type="button" onclick="window.close()" class="btn-2">돌아가기</button>
                </div>
            </div>
            <div class="col-8">
                <div id="map" class="store-map"> <!-- 지도들어감 -->
                    <span><br/>
                  등록할 가게의 주소를 먼저 검색해 주세요 !
                    <div id="mylocation"></div> <!-- 내위치정보 -->
              </span>
                    <script th:src="@{/js/MapFunc/MapFunc.js}"></script>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:inline="javascript">
    const myShops = [[${myShops}]]
</script>
<div id="myshopsInfoPosition"></div><!-- 가게정보들 붙음 -->
<script th:src="@{/js/ShopOpenOrCloseFunc/ShopOpenOrCloseFunc.js}"></script>
</body>
</html>
