<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>판매자 - Seller</title>
    <link
      rel="stylesheet"
      th:href="@{/css/_seller_main/seller_main.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/grid.mim.css}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <script th:src="@{/css/_seller_main/jquery-1.12.3.js}"></script>
    <script th:src="@{/css/_seller_main/seller_main.js}"></script>
    <script th:src="@{js/MapFunc/MyLocationFunc.js}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="nav_icon">
                <i class="fas fa-wine-bottle"></i>
                <h1>JUDANG</h1>
              </div>
              <div class="nav">
                <ul class="nav_list">
                  <li>
                    <i class="far fa-address-card"></i> 
                    <ul class="submenu">
                        <li><a href="#">내 정보</a></li>
                        <li><a href="#">가게 현황</a></li>
                        <li><a href="#">TEST 1</a></li>
                        <li><a href="#">TEST 2</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
          </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <div class="main-title">
              <h2 onclick="testSellerFunc()">판매자 - 가게 등록 버튼 <i class="fas fa-caret-square-down"></i> </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-12">
            <div class="store">
              <div class="store-in">
                <button type="button" class="store-btn">
                  <i class="fas fa-store"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
