<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JUDANG-회원가입 성공</title>
    <link
      rel="stylesheet"
      href="/JUDANG_Project/src/main/resources/static/css/_join.commit/_join.sc.css"
    />
    <link
      rel="stylesheet"
      href="/JUDANG_Project/src/main/resources/static/css/_join.commit/grid.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="div1">
                    <h1>JUDANG 회원가입 완료!</h1>
                    <strong>환영합니다. JUDANG의 서비스 이용이 가능합니다.</strong>
                  </div>
            </div>
        </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="div2">
                    <button type="button" class="btn">돌아가기</button>
                  </div>
            </div>
        </div>
    </div>
  </body>
</html>
