<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/grid.mim.css}" />
    <link rel="stylesheet" th:href="@{/css/login_join_style.css}" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="login">
            <h1>JUDANG - 회원가입</h1>

            <form th:action th:method="post" th:object="${memberForm}">
              <label for="typeBuyer">구매자</label>
              <input type="radio" name="user" value="BUYER" id="typeBuyer" th:field="*{typeBuyer}"/>

              <label for="typeSeller">판매자</label>
              <input
                type="radio"
                name="user"
                value="SELLER"
                id="typeSeller"
                th:field="*{typeSeller}"
              />

              <label for="Name">이름</label>
              <input type="text" id="Name" placeholder="이름" required th:field="*{name}" />

              <label for="Id">아이디</label>
              <input type="text" id="Id" placeholder="ID" required th:field="*{id}"/>

              <label for="Password">비밀번호</label>
              <input
                      th:field="*{password}"
                type="password"
                id="Password"
                placeholder="Password"
                required
              />

              <label for="Email">이메일</label>
              <input
                      th:field="*{email}"
                type="email"
                id="Email"
                placeholder="Email"
                required
              />

              <label for="age">나이</label>
              <input
                      th:field="*{age}"
                type="number"
                id="age"
                min="20"
                max="100"
                placeholder="Age ( 구매자는 입력 필수 )"
              />


            <div class="sc-button">
              <button type="submit" class="s-button">가입</button>
              <button th:onclick="|location.href='@{/}'|" class="c-button">취소</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
