<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/grid.mim.css}" />
    <link rel="stylesheet" th:href="@{/css/login_join_style.css}" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="login">
            <h1>JUDANG - 로그인</h1>

            <form>

              <label for="user-id">아이디</label>
              <input type="text" name="Id" id="user-id" placeholder="ID" required />

              <label for="user-password">비밀번호</label>
              <input
                type="password"
                name="Password"
                id="user-password"
                placeholder="Password"
                required
              />

            </form>

            <div class="sc-button">
              <button type="submit" id="loginFuncJs" class="s-button">로그인</button>

              <button type="button" onclick="newPage('/join');" class="c-button">회원가입</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script th:src="@{/js/loginFunc/login.js}"></script>
  </body>
</html>
