<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매자 메인</title>
    <link
      rel="stylesheet"
      th:href="@{/css/_buyer/buyer_main.css}"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/grid.mim.css}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9175f8db53.js"
      crossorigin="anonymous"
    ></script>
      <script type="text/javascript"
              src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3"></script>
      <script type="text/javascript"
              src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3&submodules=geocoder"></script>
    <script th:src="@{/css/_seller_main/jquery-1.12.3.js}"></script>
    <script th:src="@{/css/_seller_main/seller_main.js}"></script>
  </head>
  <body>
    <header>
        <nav class="navbar">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="nav_icon">
                  <i class="fas fa-wine-bottle"></i>
                  <h1>JUDANG</h1>
                </div>
                <div class="nav">
                  <ul class="nav_list">
                    <li>
                      <i class="far fa-address-card"></i> 
                      <ul class="submenu">
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>
      </header>

      <main>
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    <div class="input-form">
                        <form action="/BuyerPage/search/name" th:method="post" th:object="${searchWord}">
                            <input type="text" id="searchWord" th:field="*{searchWord}" placeholder="가게 이름 / 카테고리" required/>

                        <input type = "submit" class="btn" 검색 />
                        </form>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div id="map" class="store-map">지도</div>
                  </div>
              </div>
          </div>
      </main>
    <script th:inline="javascript">
        const nearShops = [[${nearShops}]]
    </script>
    <script th:src="@{/js/MapFunc/BuyerMapFunc.js}"></script>
  </body>
</html>
