<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매자 예약 페이지</title>
    <link
      rel="stylesheet"
      href="/src/main/resources/static/css/_buyer/buyer_form.css"
    />
    <link rel="stylesheet" href="/src/main/resources/static/css/grid.mim.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9175f8db53.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3"
    ></script>
    <script
      type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=gntulelzn3&submodules=geocoder"
    ></script>
    <script th:src="@{/css/_seller_main/jquery-1.12.3.js}"></script>
    <script th:src="@{/css/_seller_main/seller_main.js}"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="nav_icon">
                <i class="fas fa-wine-bottle"></i>
                <h1>JUDANG</h1>
              </div>
              <div class="nav">
                <ul class="nav_list">
                  <li>
                    <i class="far fa-address-card"></i>
                    <ul class="submenu">
                      <li><a href="#">필요시 사용</a></li>
                      <li><a href="#">필요시 사용</a></li>
                      <li><a href="#">필요시 사용</a></li>
                      <li><a href="#">필요시 사용</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title-box">
              <h1>구매자 예약 신청</h1>
              <h4>모든 항목을 기재 후 예약 신청이 가능합니다.</h4>
              <form th:action th:object="${reservation}" method="post">

                <label th:text="#{label.shopName}">가게이름</label>
                <input th:value="${reservation.shopName}" type="text" placeholder="가게 이름" required readonly/>
                <label th:text="#{label.reservationer}">예약자 이름</label>
                <input th:value="${reservation.buyerName}"type="text" placeholder="예약자" required readonly/>
                <input type="number" placeholder="예약 인원" required />

                <div>
                  <input type="tel" th:errorclass="field-error" placeholder="연락처" required />
                  <div
                          class="field-error" th:errors="*{phoneNumber}">연락처 오류 메시지
                  </div>
                </div>

                <div>
                  <button type="submit" th:text="#{button.reservation}" class="btn">예약하기</button>
                  <button type="button" th:text="#{button.backToMain}" class="btn-2">돌아가기</button>
                </div>

              </form>
              <h4>
                JUDANG 서비스는 호프 및 주점을 이용하는 사용자들에게 편의를
                제공합니다.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
