<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>구매자 메인</title>
    <link
      rel="stylesheet"
      href="/JUDANG_Project/src/main/resources/static/css/_buyer/buyer_main.css"
    />
    <link
      rel="stylesheet"
      href="/JUDANG_Project/src/main/resources/static/css/grid.mim.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/9175f8db53.js"
      crossorigin="anonymous"
    ></script>
    <script src="/JUDANG_Project/src/main/resources/static/css/_seller_main/jquery-1.12.3.js"></script>
    <script src="/JUDANG_Project/src/main/resources/static/css/_seller_main/seller_main.js"></script>
  </head>
  <body>
    <header>
        <nav class="navbar">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="nav_icon">
                  <i class="fas fa-wine-bottle"></i>
                  <h1>JUDANG</h1>
                </div>
                <div class="nav">
                  <ul class="nav_list">
                    <li>
                      <i class="far fa-address-card"></i> 
                      <ul class="submenu">
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                          <li><a href="#">필요시 사용</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </nav>
      </header>

      <main>
          <div class="container">
              <div class="row">
                  <div class="col-12">
                    <div class="input-form">
                        <input type="text" placeholder="가게 이름 / 카테고리" required/>
                        <button type="button" class="btn">가게 이름</button>
                        <button type="button" class="btn-2">카테고리</button>
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="store-map">지도</div>
                  </div>
              </div>
          </div>
      </main>
  </body>
</html>
